header {
    background-color: beige;
    height: auto;
    border: groove 5px green;
    display: flex;
}

header img {
    width: 50px;
    height: 50px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%
}

header li {
    background-color: aqua;

}

.header-menu a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.header-menu a:hover {
    background-color: red;
}

.logo-name {
    width: 50vh;
    display: flex;
}

.header-menu {
    width: 50vh;
}
